
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    
    <h1>Your Cart</h1>
    <ul>
        <% cartContents.forEach(item => { %>
            <li>
                <strong><%= item.product.name %></strong> - Quantity: <%= item.quantity %>
                <button onclick="updateQuantity('<%= item.product._id %>', '<%= item.quantity + 1 %>')">+</button>
                <button onclick="updateQuantity('<%= item.product._id %>', '<%= item.quantity - 1 %>')">-</button>
                <button onclick="removeFromCart('<%= item.product._id %>')">Remove</button>
            </li>
        <% }); %>
    </ul>
    

 

    

    <script src="/src/cart.js"></script>
</body>
</html>
